// STANDARDS:

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 65%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    color: #2b2b28;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
        sans-serif;

    background-color: #f4f4f4;
}

// TYPOGRAPHY:

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.02rem;
}

h2 {
    font-size: 3.4rem;
    line-height: 1.3;
    letter-spacing: -0.02rem;
}

hr {
    color: #c0b283;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

// NAVIGATION AND HEADER:

.nav-logo img {
    width: 45px;
    height: 45px;
}

nav {
    min-height: 6.25vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

header {
    background-color: limegreen;
    height: calc(100vh - (6.25vh + 225px));
}

// MAIN SECTION:

.container {
    margin: 0 auto;
    // border: 1px black solid;
    max-width: 1200px;
}

.wrapper {
    //border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-flow {
    //border: #2b2b28 1px solid;
    position: relative;
    width: 100%;
    // display: flex;

    // flex-direction: column;
    //border: 1px black solid;
    // position: relative;
}

.transfer-section {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.transfer-form,
.transfer-status {
    height: 100%;
    // color: white;
}

.transfer-form {
    background-color: #f8f8ff;
    width: 100%;
    max-width: 800px;
    //border: 1px black solid;
}

.transfer-status {
    background-color: #f5f5ed; //#ecf0e8; //#dcd0c0;
    max-width: 400px;
    overflow: hidden;
}

article {
    padding: 1.5rem 0;
    margin: 0 auto;
    text-align: center;
    //border: 1px red solid;
    max-width: 640px;
    height: 255px;
    h1 {
        color: #e0c183;
    }
}

.form-button {
    display: block;
    height: 3.6rem;
    cursor: pointer;
    margin-left: 12px;
    border: none;
    width: 20%;
    text-align: center;

    //border: 1px red solid;
}

// STATUS STYLE

.filler {
    height: 25px;
    width: 100%;
    background-color: #f4f4f4;
}

// TAB STYLE

.tabs {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    display: flex;

    button {
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border: none;
        background-color: #c0b283;
        height: 25px;
        width: 130px;
        padding: 3px 5px;
        margin-left: 0.1rem;
        cursor: pointer;
    }
    .btn-nonfocus:hover {
        background-color: #cfc9b3;
        transition: background-color 200ms ease-in;
        color: #f8f8ff;
        transition: color 200ms ease-in;
    }

    .btn-focus {
        background-color: #f8f8ff;
    }
}

.panel {
    padding: 2.5rem 2.35rem;
}

.active {
    display: block;
}

.non-active {
    display: none;
}

// CURRENT SCHOOL PANEL

.school-result {
    display: flex;
    border: 1px black solid;
    margin-top: 5rem;
    button {
        display: block;
        border: none;
        padding: 0 8px;
        margin-left: 6px;
        width: 12rem;
        cursor: pointer;
        background-color: lightblue;
    }
    button:hover {
        background-color: #ff4d4d;
        transition: background-color 200ms ease-in;
        color: white;
        transition: color 200ms ease-in;
    }
    h3 {
        margin-bottom: 0;
        margin-right: 2rem;
        display: inline-block;
        width: 100%;
        color: #333;
    }
}

input {
    display: block;
    width: 100%;
    height: 3.6rem;
    padding-left: 9px;
    font-size: 1.4rem;
    // margin-top: 1.5rem;
    border: none;
}

.results {
    position: absolute;
    // border: 1px black solid;
    width: 100%;
    // top: 37px;
    display: block;
    height: 180px;

    overflow: scroll;

    li {
        position: static;
        list-style: none;
        width: 100%;
        padding: 5px 0 5px 12px;
        // border: 1px red solid;
        background-color: #fbfbf8;
        h4 {
            margin: 0;
        }
    }
    li:hover {
        background-color: #e4e4e2;
    }

    //display: none;
}

#curr-school {
    // border: 1px green solid;
    p {
        text-align: center;
    }
}

// #past-college-results {
//     border: 1px black solid;
//     background-color: yellow;
//     width: 78%;
//     z-index: 12;
// }

// MEDIAQUERIES

@media only screen and (max-width: 320px) {
    .container {
        flex-direction: column;
    }
    body {
        font-size: 1.2em;
    }
    .transfer-form {
        min-width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    body {
        font-size: 1.2em;
    }
    .transfer-status {
        width: 100%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body {
        font-size: 1.2em;
    }
    .transfer-status {
        width: 100%;
    }
}

.testingpurpose {
    background: black;
    height: 100vh;
}
