<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="./css/style.css")
        title Document
    body
        <!-- Banner -->
        //- Please style the banner. 
        //- Please style the navigation & add proper links
        nav
            .nav-logo
                a(href="#") 
                    img(src="./images/CUNY-logo.svg" alt="CUNY Logo")

            ul
                li 
                    a(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") GitHub
                li
                    a(href="#") More Resources
        header
        <!-- End of Banner -->

        <!-- Intro Section -->
        section.container
            article
                h1 Exciting Heading
                hr
                p Explains what the transfer protocol aims to do in a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, adipisci perferendis laborum rem possimus deserunt tempora asperiores in necessitatibus suscipit?
                hr

        <!-- Transfer Protocol Tabs -->
        main.container.transfer-section
            <!-- Transfer Form Section/LEFT SIDE -->
            .transfer-form
                .tabs
                    button(id="curr-school-tab" class="tab-item btn-focus" data-link="curr-school") Current School
                    button(id="transfer-school-tab" class="tab-item btn-nonfocus" data-link="transfer-school") Transfer School
                    button(id="majors-tab" class="tab-item btn-nonfocus" data-link="majors") Majors
                    button(id="classes-tab" class="tab-item btn-nonfocus" data-link="classes") Classes
                    button(id="test-scores-tab" class="tab-item btn-nonfocus" data-link="test-scores") Test Scores

                <!-- Current School Section -->
                #curr-school.active.panel
                    p Add a college you are current and/or past college(s).
                    hr
<<<<<<< HEAD
                    .wrapper
                        .vertical-flow
                            input(type="text" id="past-colleges" class="testcase" name="past-colleges" placeholder="ie. East Georgia College")
=======
                    div.wrapper
                        .vertical-flow
                            input(type="text" id="past-colleges" class="testcase" name="past-colleges" placeholder="ie. CUNY Queens College")
>>>>>>> f9b8a932a2dd6ea323ecea264e483bddf0930b3e
                            ul.results#past-college-results

                        button(type="submit" id="past-college-submit" class="form-button" ) Add

                    //- .school-result
                    //-     h3 CUNY Baruch College
                    //-     button(class="chosen-prev-school") Delete
                    //- .school-result
                    //-     h3 Cuny Queens College
                    //-     button(class="chosen-prev-school") Delete
                <!-- Transfer School Section -->
                #transfer-school.non-active.panel
<<<<<<< HEAD
                    p Add a CUNY college you are planning to attend.
                    hr
                    .wrapper
                        .vertical-flow
                            input(type="text" id="college-choice" class="testcase" name="past-colleges" placeholder="ie. CUNY Queens College")
                            ul.results#past-college-results

                        button(type="submit" id="past-college-submit" class="form-button" ) Add


=======
                    h2 Transfer School Section:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo eaque adipisci dicta numquam aperiam autem at excepturi, perferendis possimus odit atque saepe veritatis quasi quia a. Aliquid quam totam est, atque repudiandae neque in, accusantium quis nam assumenda, quibusdam earum. Dolor voluptas deleniti incidunt vitae fuga temporibus provident sint quisquam accusamus fugit? Dicta, quo error. Quisquam ipsa voluptatem provident!
>>>>>>> f9b8a932a2dd6ea323ecea264e483bddf0930b3e
                <!-- Majors Section -->
                #majors.non-active.panel
                    h2 Majors Section:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo eaque adipisci dicta numquam aperiam autem at excepturi, perferendis possimus odit atque saepe veritatis quasi quia a. Aliquid quam totam est, atque repudiandae neque in, accusantium quis nam assumenda, quibusdam earum. Dolor voluptas deleniti incidunt vitae fuga temporibus provident sint quisquam accusamus fugit? Dicta, quo error. Quisquam ipsa voluptatem provident!

                <!-- Classes Section -->
                #classes.non-active.panel
                    h2 Classes Section:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo eaque adipisci dicta numquam aperiam autem at excepturi, perferendis possimus odit atque saepe veritatis quasi quia a. Aliquid quam totam est, atque repudiandae neque in, accusantium quis nam assumenda, quibusdam earum. Dolor voluptas deleniti incidunt vitae fuga temporibus provident sint quisquam accusamus fugit? Dicta, quo error. Quisquam ipsa voluptatem provident!
                <!-- Scores Section -->
                #test-scores.non-active.panel
                    h2 Test Scores Section:
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo eaque adipisci dicta numquam aperiam autem at excepturi, perferendis possimus odit atque saepe veritatis quasi quia a. Aliquid quam totam est, atque repudiandae neque in, accusantium quis nam assumenda, quibusdam earum. Dolor voluptas deleniti incidunt vitae fuga temporibus provident sint quisquam accusamus fugit? Dicta, quo error. Quisquam ipsa voluptatem provident!
            <!-- Transfer Status Section/ RIGHT Side -->
            .transfer-status
                .filler
                .panel
                    h2 Transfer Status Section:
                    p Status bar relates to the completion for the major you have selected. It takes account of all the classes and tests you have taken. Click "more info" after finishing the form to see the remaining requirements needed for the major(s).
        .testingpurpose
        script(src="./js/student-tab.js")



