<% include partials/header %>   
<link rel= "stylesheet" href = "/app.css">

<title>CUNY Transfer Project Home Page</title>
   <body>

      <!-- put the above code into a header, likewise for bottom code, (footer) so we just link to it.   -->
      <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to CUNY Transfer Portal</h1>
        <p class="lead"> A collaboration project. Include your name</p>
        <li> Jeffrey Zhao </li>
        <li> Marcelo Villalba </li>
        <li> Jason Xu </li>
        <li> Kelvin Wu </li>
        <li> Denzel Hall </li>
        <li> Mamadou Diallo </li>
        <li> Emanuel Zubli </li>
        <li> Laert Xhumari </li>
        <li> Brandon Hwang </li>
        <li> Daniel Kopeloff</li>
      </div>
    </div>


    </body>

<% include partials/footer %>