<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- CSS File -->
  <link rel="stylesheet" href="./assets/css/studentv3style.css" />

  <!-- autoComplete.js cdn -->
  <!--link(rel="stylesheet", href="./node_modules/@tarekraafat/autocomplete.js/dist/css/autoComplete.css", attr)-->
  <!-- Eww jQuery -->
  <!-- Select2 CDN -->
  <title>Student Transfer(version: final)</title>
</head>

<body>
  <!-- NAVIGATION -->
  <nav class="nav">
    <div class="nav-container">
      <ul class="nav-list">
        <li class="nav-item"><a href="/adminLogin">Admin Login</a></li>
      </ul>

    </div>

  </nav>

  <!-- HEADER -->
  <header id="header">
    <img src="../assets/images/happy-bro1.svg" alt="loser kids high 5ing" id="kid-1" class="kid">
    <img src="../assets/images/happy-bro2.svg" alt="loser kids high 5ing" id="kid-2" class="kid">
    <img src="../assets/images/happy-gal1.svg" alt="loser kids high 5ing" id="kid-3" class="kid">
    <img src="../assets/images/happy-gal2.svg" alt="loser kids high 5ing" id="kid-4" class="kid">
    <img src="../assets/images/title.svg" alt="transfer protocal logo" class="title">
  </header>

  <!-- MAIN -->
  <div class="gray">
    <div class="container inner">
      <div id="transfer-app">
        <div id="transfer-nav-container">
          <ul>
            <li class="focused flex-verticle" id="instructions">
              <div class="space"></div>
              <span>Instructions</span>
            </li>
            <li class="left-corner flex-verticle" id="courses">
              <div class="space"></div>
              <span>Courses</span>
            </li>
            <li class="flex-verticle" id="college-opt">
              <div class="space"></div>
              <span>College Option</span>
            </li>
            <li class="flex-verticle" id="exam-scores">
              <div class="space"></div>
              <span>Exams</span>
            </li>
            <li class="flex-verticle" id="results">
              <div class="space"></div>
              <span>Results</span>
            </li>
          </ul>
        </div>
        <!-- INSTRUCTION PANEL -->
        <div class="panel active-panel" id="instructions-panel">
          <h4 class="center-text">Transfer Protocol Guide:</h4>
          <hr />
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-one info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 1: Past College(s)</h5>
              <p>
                Select your past college(s) along with all the courses you
                have taken within the institutions. Maximum amount of colleges
                to pick from is set to 2.
              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-two info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 2: ddududududuu</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Iure, quasi ducimus. Veniam velit esse cupiditate magni nemo
                sed unde dolore.
              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-three info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 3: dudududu</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                explicabo, iste vitae perferendis similique omnis facere atque
                ut? Veritatis, exercitationem?
              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-four info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 4: dududuudud</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis enim nesciunt reprehenderit quasi dolorem ipsum
                maiores unde voluptates harum illo.dp
              </p>
            </div>
          </div>
          <button class="center-btn" id="get-started">Get Started</button>
        </div>

        <!-- COURSES PANEL -->
        <div class="panel hidden-panel" id="courses-panel">
          <p class="guide">Add the schools you've attended in the past.</p>
          <button class="center-btn active" id="add-school-btn">Add School</button><span class="hidden"
            id="course-limit">A maximum of 2 schools can be selected.</span>

          <div class="add-school-container" style="display: block; display: none;">
            <div class="add-school-input-container">
              <input class="school-text-field" type="text" placeholder="Type School Name"
                onkeyup="handleSchoolNameInput(this)">
              <div class="school-ac-panel hidden">
                <ul class="school-input-ac-1"></ul>
              </div>
            </div>
            <a class='close'> <img src='/style/images/close-button.svg' alt='close button' class='close-button'
                align='middle' /> </a>
          </div>

          <div class="school-added-container"></div>

          <a class="done-adding-schools">I'M DONE ADDING SCHOOLS</a>
        </div>

        <!-- COLLEGE OPTION PANEL -->
        <div class="panel hidden-panel lala" id="college-opt-panel">
          <p class="guide">Find your transfer college or university.</p>
          <button class="center-btn active" id="add-transfer-school-btn">Add School</button>
          <div class="add-transfer-school-container" style="display: block; display: none;">
            <div class="add-transfer-school-input-container">
              <input class="transfer-school-text-field" type="text" placeholder="Type School Name"
                onkeyup="handleTransferSchoolNameInput(this)">
              <div class="transfer-school-ac-panel hidden">
                <ul class="transfer-school-input-ac"></ul>
              </div>
            </div>
            <a class='close'> <img src='/style/images/close-button.svg' alt='close button' class='close-button'
                align='middle' /> </a>
          </div>
          <div class="transfer-school-added-container"></div>

          <a class="done-adding-options">I'M DONE ADDING COLLEGE OPTIONS</a>
        </div>

        <!-- EXAM SCORE PANEL -->
        <div class="panel hidden-panel lala" id="exam-score-panel">
          <p id="guide-need-to-add-tranfer-school">Need to add transfer school first before proceeding.</p>
          <p class="guide" style="display: block; display: none;">Add the schools you've attended in the past.</p>
          <button class="center-btn active" id="add-exam-btn" style="display: block; display: none;">Add School</button>

          
          <div class="exam-added-container"></div>
        </div>
        <!-- RESULTS PANEL -->
        <div class="panel hidden-panel lala" id="results-panel">
          <h1>Result</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="container" id="footer-container">
      <div class="rdw">
        <div id="right-footer" class="col six test2">


        </div>
        <div id="left-footer" class="col six test3"></div>
      </div>

    </div>


  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Autocomplete.js Script -->
  <!-- Local JS Files -->
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/autoComplete.js" type="text/javascript"></script>

</body>

</html>
<!-- ! FOR THE ICONS-->


<!-- <a href="https://www.freepik.com/free-photos-vectors/school">School vector created by freepik - www.freepik.com</a>-->