<% include partials/header %>   
  
<title>CUNY Transfer Portal</title>

<body>
  <!-- NAVIGATION -->
  <nav class="nav">
    <div class="nav-container">
      <ul class="nav-list">
        <li class="nav-item"><a href="/adminLogin">Admin Login</a></li>
      </ul>

    </div>

  </nav>

  <!-- HEADER -->
  <header id="header">
    <img src="../assets/images/happy-bro1.svg" alt="loser kids high 5ing" id="kid-1" class="kid">
    <img src="../assets/images/happy-bro2.svg" alt="loser kids high 5ing" id="kid-2" class="kid">
    <img src="../assets/images/happy-gal1.svg" alt="loser kids high 5ing" id="kid-3" class="kid">
    <img src="../assets/images/happy-gal2.svg" alt="loser kids high 5ing" id="kid-4" class="kid">
    <img src="../assets/images/title.svg" alt="transfer protocal logo" class="title">
  </header>

  <!-- MAIN -->
  <div class="gray">
    <div class="container inner">
      <div id="transfer-app">
        <div id="transfer-nav-container">
          <ul>
            <li class="focused flex-verticle" id="instructions">
              <div class="space"></div>
              <span>Instructions</span>
            </li>
            <li class="left-corner flex-verticle" id="courses">
              <div class="space"></div>
              <span>Courses</span>
            </li>
            <li class="flex-verticle" id="college-opt">
              <div class="space"></div>
              <span>College Option</span>
            </li>
            <li class="flex-verticle" id="exam-scores">
              <div class="space"></div>
              <span>Exams</span>
            </li>
            <li class="flex-verticle" id="results">
              <div class="space"></div>
              <span>Results</span>
            </li>
          </ul>
        </div>
        <!-- INSTRUCTION PANEL -->
        <div class="panel active-panel" id="instructions-panel">
          <h4 class="center-text">Transfer Protocol Guide</h4>
          <hr style="margin: 0px"/>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-one info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 1: Courses</h5>
              <p>
                Choose up to 3 past colleges along with the courses you
				have taken in each corresponding institution.
              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-two info-img"></div>
            </div>
            <div class="nine col">

              <h5>Step 2: College Option</h5>
              <p>
                Select the CUNY campus you are interested in.

              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-three info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 3: Exams</h5>
              <p>
                List exams you have taken to receive college credit. EX: AP Exams. 
              </p>
            </div>
          </div>
          <div class="inner-panel flex-horizontal">
            <div class="three col">
              <div class="step-four info-img"></div>
            </div>
            <div class="nine col">
              <h5>Step 4: Results</h5>
              <p>
                See your results.
              </p>
            </div>
          </div>

       <button class="center-btn tab_btn" >Get Started</button>

        </div>

        <!-- COURSES PANEL -->
        <div class="panel hidden-panel" id="courses-panel">
          <p class="guide">Add the schools you've attended in the past.</p>
          <button class="center-btn active" id="add-school-btn">Add School</button><span class="hidden"
            id="course-limit">A maximum of 2 schools can be selected.</span>

          <div class="add-school-container" style="display: block; display: none;">
            <div class="add-school-input-container">
              <input class="school-text-field" type="text" placeholder="Type School Name"
                onkeyup="handleSchoolNameInput(this)">
              <div class="school-ac-panel hidden">
                <ul class="school-input-ac-1"></ul>
              </div>
            </div>
            <a class='close'> <img src='/style/images/close-button.svg' alt='close button' class='close-button'
                align='middle' /> </a>
          </div>

          <div class="school-added-container"></div>


          <a class="done-adding-schools tab-btn">I'M DONE ADDING SCHOOLS</a>

       
        </div>

        <!-- COLLEGE OPTION PANEL -->
        <div class="panel hidden-panel lala" id="college-opt-panel">
          <p class="guide">Find your transfer college or university.</p>
          <button class="center-btn active" id="add-transfer-school-btn">Add School</button>
          <div class="add-transfer-school-container" style="display: block; display: none;">
            <div class="add-transfer-school-input-container">
              <input class="transfer-school-text-field" type="text" placeholder="Type School Name"
                onkeyup="handleTransferSchoolNameInput(this)">
              <div class="transfer-school-ac-panel hidden">
                <ul class="transfer-school-input-ac"></ul>
              </div>
            </div>
            <a class='close'> <img src='/style/images/close-button.svg' alt='close button' class='close-button'
                align='middle' /> </a>
          </div>
          <div class="transfer-school-added-container"></div>


          <a class="done-adding-options tab-btn">I'M DONE ADDING COLLEGE OPTIONS</a>

        </div>

        <!-- EXAM SCORE PANEL -->
        <div class="panel hidden-panel lala" id="exam-score-panel">
          <p class="guide" style="display: block;">Add the exams you've taken in the past.</p>
          <button class="center-btn active" id="add-exam-btn" style="display: block;">Add Exam</button>

          
          <div class="exam-added-container"></div>
        </div>
        <!-- RESULTS PANEL -->
        <div class="panel hidden-panel lala" id="results-panel">
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>

    <div class = "footer-text">
	
		<br>
		<a href = https://www.cuny.edu/website/copyright/ class = "footer-link">
			Copyright© <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script>
		</a>| 
		<a href = https://www.cuny.edu/website/privacy-policy/ class = "footer-link">
			Privacy
		</a>|
		<a href = https://www.cuny.edu/about/administration/offices/cis/information-security/ class = "footer-link">
			Security
		</a>|
		<a href = https://www.cuny.edu/accessibility/ class = "footer-link">
			Accessibility
		</a>|
		<a href = https://www.cuny.edu/website/terms/ class = "footer-link">
			Terms of Use
		</a>|
		<a href = https://www.cuny.edu/cuny-alert/ class = "footer-link">
			CUNY Alert
		</a>|
		<a href = https://www.cuny.edu/contact-us/ class = "footer-link">
			Contact Us
		</a>
		
		
	</div>

  </footer>
  
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Autocomplete.js Script -->
  <!-- Local JS Files -->
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/autoComplete.js" type="text/javascript"></script>



<% include partials/footer %>

<!-- ! FOR THE ICONS-->


<!-- <a href="https://www.freepik.com/free-photos-vectors/school">School vector created by freepik - www.freepik.com</a>-->