* {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 72.5%;
}

body,
body::after,
body::before {
  margin: 0;
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

p {
  margin-top: 0;
  font-size: 1.125rem;
}

span {
  font-size: 1.125rem;
  letter-spacing: 0.128rem;
  font-weight: 300;
}

a {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.1rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.1rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

hr {
  margin: 28px 0;
}

/* FORMS
   ==================================================== */
/**
 * ! Courtesy of Skeeleton CSS Framework :)
 * * 1. Correct color not being inherited.
 * * 2. Correct font propertiies not being inherited.
 * * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. 
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  padding: 0;
  overflow: visible;
}

button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container.inner {
  padding-top: 10em;
  padding-bottom: 38px;
}

.col {
  width: 100%;
  margin-bottom: 5px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .col {
    margin-left: 3%;
  }
  .col:first-child {
    margin-left: 0;
  }
  .one.col {
    width: 5.58333333333%;
  }
  .two.col {
    width: 14.1666666667%;
  }
  .three.col {
    width: 22.75%;
  }
  .four.col {
    width: 31.3333333333%;
  }
  .five.col {
    width: 39.9166666667%;
  }
  .six.col {
    width: 48.5%;
  }
  .seven.col {
    width: 57.0833333333%;
  }
  .eight.col {
    width: 65.6666666667%;
  }
  .nine.col {
    width: 74.25%;
  }
  .ten.col {
    width: 82.8333333333%;
  }
  .eleven.col {
    width: 91.4166666667%;
  }
  .twelve.col {
    width: 100%;
    margin-left: 0;
  }
}

.row button {
  margin: 0;
}

.container:after,
.row:after {
  content: '';
  display: table;
  clear: both;
}

button {
  display: inline-block;
  height: 39px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  line-height: 38px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: transparent;
  white-space: nowrap;
}

input[type='text'] {
  width: 100%;
  height: 39px;
  font-size: 18px;
}

.gray {
  background-color: #f2f2f2;
}

.panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 45px 20px;
  min-height: 400px;
}

.center-text {
  text-align: center;
}

.center-btn {
  position: relative;
  margin: 10px 0 20px 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#add-school-btn {
  width: 97%;
  margin-bottom: 10px;
}

.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-verticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active-panel {
  display: block;
}

.hidden-panel {
  display: none;
}

#transfer-app {
  max-width: 960px;
  background-color: #fafafa;
  border-radius: 9px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

#transfer-nav-container {
  width: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
}

#transfer-nav-container ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template: 1fr/repeat(5, 1fr);
  grid-column-gap: 1px;
  height: 80px;
  -webkit-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
  margin: 0;
  padding: 0;
}

#transfer-nav-container ul li {
  background-color: #476589;
  background-repeat: no-repeat;
  background-position: center 15px;
  background-size: 40px;
}

#transfer-nav-container ul li .space {
  height: 90%;
}

#transfer-nav-container ul li.focused {
  background-color: #fafafa;
  color: #476589;
  cursor: pointer;
}

@media only screen and (max-width: 590px) {
  #transfer-nav-container ul {
    height: 95px;
    -webkit-transition: height 250ms ease-in;
    transition: height 250ms ease-in;
  }
}

.nav-item-wrap {
  z-index: 2;
  cursor: pointer;
  position: relative;
  display: block;
}

object {
  margin: 10px auto 5px auto;
  height: 40px;
  width: 40px;
  display: block;
}

#instructions {
  background-image: url(../images/instructions-invert.svg);
}

#courses {
  background-image: url("../images/courses.svg");
}

#college-opt {
  background-image: url("../images/college-opt.svg");
}

#exam-scores {
  background-image: url("../images/exam-scores.svg");
}

#results {
  background-image: url("../images/results.svg");
}

.right-corner {
  border-bottom-right-radius: 15px;
}

.left-corner {
  border-bottom-left-radius: 15px;
}

.tester {
  fill: #476589;
}

#instructions-panel h5 {
  margin-bottom: 5px;
}

@media only screen and (max-width: 590px) {
  #instructions-panel .col:nth-child(2) {
    margin-top: 16px;
  }
  .info-img {
    margin: 0 auto;
  }
}

.step-one {
  background-image: url("../images/courses-invert.svg");
}

.step-two {
  background-image: url("../images/college-opt-invert.svg");
}

.step-three {
  background-image: url("../images/exam-scores-invert.svg");
}

.step-four {
  background-image: url("../images/results-invert.svg");
}

.info-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 75px;
  height: 75px;
}

.inner-panel {
  padding: 13px 25px;
  margin-bottom: 15px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
}

.school-ac-panel {
  width: 100%;
  max-height: 250px;
  border: 1px solid rgba(0,0,0,.15);
  position: absolute;
  overflow: auto;
  background: #fafafa;
  margin: 0.125rem 0 0;
  z-index: 9999;
  border-radius: .25rem;
  padding: 0.5rem 0;
  min-width: 10rem;
}

.school-ac-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.school-ac-panel ul li a {
  font-size: 1.75rem;
  padding: 8px 12px;
  width: 100%;
  display: block;
}

.school-ac-panel ul li:hover {
  background: #f2f2f2;
}

.inner-panel-relative {
  width: 100%;
  position: relative;
}

.college-selection {
  margin-bottom: 7px;
}

.school-section {
  height: 35px;
}

.school-section h4 {
  margin-bottom: 0;
}

#courses-panel .guide {
  padding: 10px;
  line-height: 22px;
  color: #3f3f3f;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

#courses-panel .school-text-field {
  padding: 10px;
}

#courses-panel .close {
  position: absolute;
  top: 10px;
  right: 33px;
  bottom: 10px;
  width: 10px;
}

#courses-panel .close-button {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

#courses-panel .add-school-container {
  background: #ebeff3;
  border-radius: 4px;
  height: 56px;
  position: relative;
  margin: 8px auto;
}

#courses-panel .add-school-container .close {
  position: absolute;
  top: 10px;
  right: 33px;
  bottom: 10px;
  width: 10px;
}

#courses-panel .add-school-container .close-button {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

#courses-panel .add-school-input-container {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: 10px;
  left: 10px;
}

#courses-panel .add-school-input {
  width: 100%;
  height: 36px;
  padding: 6px;
}

#courses-panel .school-option {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: medium;
  font-family: inherit;
  line-height: inherit;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#courses-panel .disable-select-school {
  pointer-events: none;
  opacity: 0.6;
}

#courses-panel .school {
  background: #ebeff3;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0 16px 16px 16px;
  position: relative;
}

#courses-panel .school h2 {
  font-size: 14px;
  line-height: 18px;
  color: black;
  text-align: left;
  padding: 16px 24px 16px 28px;
  margin-bottom: 0;
  cursor: pointer;
}

#courses-panel .school .close {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

#courses-panel .school .close-button {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

#courses-panel .done-adding-schools {
  display: block;
  background-color: #476589;
  border-radius: 2px;
  margin: 15px auto;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 18px;
  color: #fff !important;
  font-weight: bold;
  padding: 12px;
  max-width: 300px;
  width: 100%;
  text-align: center;  
}

#courses-panel .course_container {
  display: block;
  position: relative;
}

#courses-panel .add_course {
  display: block;
  border: 1px dashed #cfcfcf;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 22px;
  color: #000 !important;
  background: #fff;
  text-align: center;
}

#courses-panel .school .collapse {
  color: #333;
  display: inline-block;
  margin-bottom: 16px;
  cursor: pointer;
  text-align: center;
}

#courses-panel .add_course_container {
  display: none;
  height: 40px;
}

#courses-panel .add_course_input {
  height: 40px;
  padding: 10px;
}

#courses-panel .not_found {
  position: absolute;
  top: 39px;
  left: 0;
  height: 34px;
  width: 100%;
  background: #fff;
  border: 1px solid gray;
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #08678d;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  display: none;
}

#courses-panel .course_list {
  position: absolute;
  width: 100%;
  border: 1px solid gray;
  padding: 8px;
  background: #fff;
  z-index: 1;
  display: none;
  overflow-y: auto;
  max-height: 250px;
}

#school-input-ac {
  width: 100%;
}

#add-transfer-school-btn {
  width: 97%;
  margin-bottom: 10px;
}

#college-opt-panel .guide {
  padding: 10px;
  line-height: 22px;
  color: #3f3f3f;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

#college-opt-panel .add-transfer-school-input-container {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: 10px;
  left: 10px;
}

#college-opt-panel .transfer-school-text-field {
  padding: 10px;
}

#college-opt-panel .add-transfer-school-container {
  background: #ebeff3;
  border-radius: 4px;
  height: 56px;
  position: relative;
  margin: 8px auto;
}

#college-opt-panel .add-transfer-school-container .close {
  position: absolute;
  top: 10px;
  right: 33px;
  bottom: 10px;
  width: 10px;
}

#college-opt-panel .add-transfer-school-container .close-button {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

#college-opt-panel .transfer-school-ac-panel {
  width: 100%;
  max-height: 250px;
  border: 1px solid rgba(0,0,0,.15);
  position: absolute;
  overflow: auto;
  background: #fafafa;
  margin: 0.125rem 0 0;
  z-index: 9999;
  border-radius: .25rem;
  padding: 0.5rem 0;
  min-width: 10rem;
}

#college-opt-panel .transfer-school-ac-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#college-opt-panel .transfer-school-ac-panel ul li a {
  font-size: 1.75rem;
  padding: 8px 12px;
  width: 100%;
  display: block;
}

#college-opt-panel .transfer-school-ac-panel ul li:hover {
  background: #f2f2f2;
}

#college-opt-panel .disable-select-school {
  pointer-events: none;
  opacity: 0.6;
}

#college-opt-panel .transfer-school {
  background: #ebeff3;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0 16px;
  position: relative;
}

#college-opt-panel .transfer-school h2 {
  font-size: 14px;
  line-height: 18px;
  color: black;
  text-align: left;
  padding: 16px 24px 16px 28px;
  margin-bottom: 0;
  cursor: pointer;
}

#college-opt-panel .transfer-school .close {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

#college-opt-panel .transfer-school .close-button {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

#college-opt-panel .school-option {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: medium;
  font-family: inherit;
  line-height: inherit;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#college-opt-panel .done-adding-options {
  display: block;
  background-color: #476589;
  border-radius: 2px;
  margin: 15px auto;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 18px;
  color: #fff !important;
  font-weight: bold;
  padding: 12px;
  max-width: 300px;
  width: 100%;
  text-align: center;  
}

.delete-college {
  background-image: url("../images/close.svg");
  background-size: cover;
  min-width: 20px;
  display: inline-block;
  height: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=studentv3style.css.map */



/* Navigation bar & header */


#header {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #bdd4e7;
  background-color: #d9f3ff;
  background-image: linear-gradient(0deg, #d9f3ff 0%, #476589 100%);
  
}

.nav-container {
  padding: 0 8.5em;
  display: flex;
  justify-content: end;
  border: 1px black solid;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  
}

.nav-list li a {
  text-decoration: none;
}

.kid {
  position: absolute;
  width: 10%;
  min-width: 130px;
}

#kid-1 {
  top: 20%;
  left: 6%;
}

#kid-2 {
  left: 20%;
}

#kid-3 {
  top: 10%;
  right: 2%;
  
}

#kid-4 {
  top: 30%;
  right: 15%;
  
}

.title {
  margin-left: calc(50% - 20rem);
  margin-top: 7%;
  max-width: 40rem;
 
}

@media only screen and (max-width: 590px) {

  #kid-1 {
    animation: kidone .2s ease-in forwards;
  }
  @keyframes kidone{
    from {
      top: 20%;
      left: 6%;
    }
    to {
      top: 40%;
      left: 6%;
    }
  }
  
  #kid-2 {
    top: 50%;
    left: 30%;
  }
  
  #kid-3 {
    top: 40%;
    right: 2%;
    
  }
  
  #kid-4 {
    top: 60%;
    right: 19%;
    
  }
}