.split{
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  margin: auto;
}

.splitRight{
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.leftSide{
  background-color:#42556C;
}

.nav-link{
  color:white;
}

.navbar-brand{
  color:white;
  font-size: 100em;
  padding:10%;
}

.navbar-brand:hover{
  color:white;
}

.nav-link:hover{
 background-color:#3C99DC;
 color:white;
}

