.split{
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  margin: auto;
}

.splitRight{
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.leftSide{
  background-color:#42556C;
}

.rightSide{
  background-color:white;
}
.nav-link{
  color:white;
}

.navbar-brand{
  color:#dff5f3;
  font-size: 100em;
}

.navbar-brand:hover{
  color:white;
}

.nav-link:hover{
 background-color:#3C99DC;
 color:white;
}

fieldset {
  background-color:#b6c6f0;
  margin: 20px;
  padding: 0 10px 10px;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0 0 10px #666;
  padding-top: 10px;
  min-height:100%;
}

.tab-pane {
  min-height:100%;
  padding:10px;
  text-align:center;
}

body, html{
  height:100%;
  margin:0;
  padding:0;
}

form{
  min-height:100%;
}

.btn{
  width:100%;
  text-align:center;
}

.dropdown {
  margin: 20px;
}

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}
