@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    a {
        text-decoration: none;
    }
}

header {
    padding: 0 2.5em;
    height: 100vh;
    width: 100%;
    background-image: url("../images/bg.png");
    background-size: cover;
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        height: 150px;
        width: 100%;
        a {

            
            img {
                max-width: 220px;
            }
        }
        .menu-btn {
            cursor: pointer;
            width: 22px;
            padding-bottom: 10px;
        }
    }
    .header-txt {
        color: white;
        width: 375px;
        // border: 1px solid white;
        padding: 0;
        position: absolute;
        top: 40%;
        left: 10%;
        margin-top: -130px;
        h1 {
            font-size: 3em;
            display: inline-block;
            
            // width: 50%;
            &::before {
                content: ' ';
                border-top: 4px solid white;
                display: block;
            }
        }
        p {
            font-size: 1.2em;
        }
    }
}

.main-nav {
    position: absolute;
    background-color: black;
    padding: 2em;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: none;
    transform: scaleX(0);
    transform-origin: right;;

    .close-btn {
        width: 22px;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: stretch;
        width: 88%;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4em;
            
        }
        a:hover {
            color: red;
        }
        span {
            display: block;
            color: grey;
            font-size: .85em;
            margin-top: 20px;
        }
    }
    li { 
        opacity: 0;
    }
    
}



#blue-box {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: none;
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;
    .close-btn {
        animation: show-x 1s 1s forwards;
    }
    
    li:nth-of-type(1) {
        animation: show-li 1s 1s ease-in-out forwards;
    }
    li:nth-of-type(2) {
        animation: show-li 1s 1.2s ease-in-out forwards;
    }
    li:nth-of-type(3) {
        animation: show-li 1s 1.4s ease-in-out forwards;
    }
    li:nth-of-type(4) {
        animation: show-li 1s 1.6s ease-in-out forwards;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    } to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes show-li {
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); opacity: 1;}
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1;} 
}





